* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles spécifiques pour la section hero */
.hero {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    text-align: center;
}

.hero h2 {
    margin: 0;
    font-size: 2rem;
}

.hero p {
    font-size: 1.2rem;
}

/* Styles spécifiques pour la section content */
.content {
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: left; /* Centre les éléments horizontalement */
    text-align: center; /* Centre le texte dans le conteneur */
    border: 2px solid #ddd; /* Bordure autour de la section */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px; /* Espacement intérieur */
    margin: 20px auto; /* Espacement extérieur */
    max-width: 800px; /* Largeur maximale */
    background-color: #fff; /* Fond blanc pour la section */
}

.title {
    font-size: 24px;
    color: green; /* Titre en vert */
    margin-bottom: 20px;
}

/* Styles spécifiques pour le contenu de l'exercice */
.container {
    display: flex;
    gap: 20px; /* Espace entre l'image et le texte */
    width: 100%;
    max-width: 100%;

}

figure {
    margin: 0;
    max-width: 60%;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

figcaption {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.text-container {
    flex: 40%; /* Les paragraphes prennent 40% de la largeur */
    text-align: left; /* Alignement du texte à gauche */
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.paraph-1,
.paraph-2 {
    margin-bottom: 10px;
}

.paraph-2 a {
    color: blue;
    text-decoration: none;
}

.paraph-2 a:hover {
    text-decoration: underline;
}

.title-2 {
    font-size: 20px;
    color: purple;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 30px;
    text-align-last: left;
}

ul li {
    margin-bottom: 10px;
}

.text-bold {
    font-weight: bold;
}

ul li a {
    color: blue;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: red;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.highlight {
    color: red;
}

/* Style pour le bouton de retour */
.button {
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px; /* Espacement au-dessus du bouton */
    text-align: center;
    text-align: center;
    margin: 20px auto; /* Centrage du bouton avec un espace au-dessus */
}

.button:hover {
    background-color: #555;
}
